<% include ./partials/header %>

  <div class="container">
    <h1>Scrape Results</h1>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Data Size</th>
          <th>Data Amount</th>
          <th>Data Promo</th>
          <th>Data Price</th>
        </tr>
      </thead>
      <tbody>
        <% _.forEach(results.data_plans, function(value) { %>
          <tr>
            <th scope="row"><%= value.data_sku %></th>
            <td><%= value.data_size %></td>
            <td><%= value.data_amount %><%= value.data_type %></td>
            <td><%= value.data_promo %></td>
            <td>$<%= value.data_price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="/scrape">Scrape Now</a>
      </div>
    </div>
  </div>
    
<% include ./partials/footer %>
